.Toolbar {
	width: 100%;
	height: 50px;
	position: fixed;
	bottom: 0;
	left: 0;
	align-items: center;
	z-index: 5;
	margin: 0;
	display: flex;
	align-content: center;
	background-color: #000000c7;
}

.Toolbar button {
	width: 50%;
	height: 100%;
	background-color: #ffaa00;
	color: black;
	font-size: 25px;
	border-radius: 15px 15px 0 0;
}

@media (min-width: 500px) {
	.Toolbar {
		display: none;
	}
}

@media (max-width: 300px) {
	.Toolbar button {
		font-size: 20px;
	}
}

@media (max-height: 565px) {
	.Toolbar {
		height: 40px;
	}
}