.WeaponSelection {
	width: 40%;
	background-color: #ffaa00;
	position: fixed;
	display: inline-block;
	left: 0;
	bottom: 50px;
	box-sizing: border-box;
	transition: transform 0.3s ease-out;
}

.WeaponSelection button {
	width: 100%;
	height: 30px;
}

.Open {
	transform: translateY(0);
}

.Close {
	transform: translateY(120%);
}

@media (min-width: 500px) {
	.WeaponSelection {
		display: none;
	}
}