.Helmet {
	width: 70px;
	height: 70px;
	display: inline-block;
	border: none;
	background-size: 70px;
	cursor: pointer;
}

.lvl1h {
	background-image: url('../../../../assets/images/main/gear/helmets/lvl1h.png');
}
.lvl1h:hover {
	background-image: url('../../../../assets/images/main/gear/selected/helmets/lvl1h.png');
}

.lvl2h {
	background-image: url('../../../../assets/images/main/gear/helmets/lvl2h.png');
}
.lvl2h:hover {
	background-image: url('../../../../assets/images/main/gear/selected/helmets/lvl2h.png');
}

.lvl3h {
	background-image: url('../../../../assets/images/main/gear/helmets/lvl3h.png');
}
.lvl3h:hover {
	background-image: url('../../../../assets/images/main/gear/selected/helmets/lvl3h.png');
}

.Vest {
	width: 70px;
	height: 70px;
	display: inline-block;
	border: none;
	background-size: 70px;
	cursor: pointer;
}

.lvl1v {
	background-image: url('../../../../assets/images/main/gear/vests/lvl1v.png');
}
.lvl1v:hover {
	background-image: url('../../../../assets/images/main/gear/selected/vests/lvl1v.png');
}

.lvl2v {
	background-image: url('../../../../assets/images/main/gear/vests/lvl2v.png');
}
.lvl2v:hover {
	background-image: url('../../../../assets/images/main/gear/selected/vests/lvl2v.png');
}

.lvl3v {
	background-image: url('../../../../assets/images/main/gear/vests/lvl3v.png');
}
.lvl3v:hover {
	background-image: url('../../../../assets/images/main/gear/selected/vests/lvl3v.png');
}