.LeftTools {
  display: inline-block;
	min-width: 280px;
	z-index: 5;
}

.Helmet,
.Vest {
  width: 70px;
  height: 70px;
  border: none;
  background-size: 70px;
}

button {
  outline: none;
}

.ViewType {
  width: 93px;
  height: 40px;
  font-size: 20px;
  font-weight: 600;
}
.ViewType_active {
  text-shadow: 0 0 10px #ffaa00ba;
}

.ArmorSelectionLabel {
	text-align: center;
	font-size: 20px;
}
/* Desktop-exclusive hover styles */
@media screen and (min-width: 500px) {
  .Helmet:hover,
  .Vest:hover,
  .ViewType:hover {
    -webkit-transform: scale(1.4) rotate(10deg);
    transform: scale(1.4) rotate(10deg);
  }
}
/* Mobile (small-screen) styles */
@media screen and (max-width: 500px) {
	.LeftTools {
		min-width: 210px;
		background-color: #000000c7;
		position: fixed;
		display: inline-block;
		align-self: center;
		bottom: 50px;
		box-sizing: border-box;
		transition: transform 0.3s ease-out;
		border-radius: 30px 30px 0 0;
	}

	.ArmorSelectionLabel {
		display: none;
	}

	.ViewType {
		color: #ffaa00;
	}
	.ViewType_active {
		text-shadow: 0 0 10px #ffaa00;
	}
	
	.Open {
		transform: translateY(0);
	}
	
	.Close {
		transform: translateY(110%);
	}
}

.lvl0h {
  background-image: url("../../../../assets/images/main/gear/helmets/lvl0h.png");
}
.lvl0h:hover,
.lvl0h_active {
  background-image: url("../../../../assets/images/main/gear/selected/helmets/lvl0h.png");
}

.lvl1h {
  background-image: url("../../../../assets/images/main/gear/helmets/lvl1h.png");
}
.lvl1h:hover,
.lvl1h_active {
  background-image: url("../../../../assets/images/main/gear/selected/helmets/lvl1h.png");
}

.lvl2h {
  background-image: url("../../../../assets/images/main/gear/helmets/lvl2h.png");
}
.lvl2h:hover,
.lvl2h_active {
  background-image: url("../../../../assets/images/main/gear/selected/helmets/lvl2h.png");
}

.lvl3h {
  background-image: url("../../../../assets/images/main/gear/helmets/lvl3h.png");
}
.lvl3h:hover,
.lvl3h_active {
  background-image: url("../../../../assets/images/main/gear/selected/helmets/lvl3h.png");
}

.lvl0v {
  background-image: url("../../../../assets/images/main/gear/vests/lvl0v.png");
}
.lvl0v:hover,
.lvl0v_active {
  background-image: url("../../../../assets/images/main/gear/selected/vests/lvl0v.png");
}

.lvl1v {
  background-image: url("../../../../assets/images/main/gear/vests/lvl1v.png");
}
.lvl1v:hover,
.lvl1v_active {
  background-image: url("../../../../assets/images/main/gear/selected/vests/lvl1v.png");
}

.lvl2v {
  background-image: url("../../../../assets/images/main/gear/vests/lvl2v.png");
}
.lvl2v:hover,
.lvl2v_active {
  background-image: url("../../../../assets/images/main/gear/selected/vests/lvl2v.png");
}

.lvl3v {
  background-image: url("../../../../assets/images/main/gear/vests/lvl3v.png");
}
.lvl3v:hover,
.lvl3v_active {
  background-image: url("../../../../assets/images/main/gear/selected/vests/lvl3v.png");
}
