.Torso {
	max-width: 225px;
	min-width: 225px;
  max-height: 512px;
  min-height: 512px;
  background-image: url('../../../assets/images/torso.png');
  background-repeat: no-repeat;
  color: #f2aa00;
	font-size: 17px;
	display: inline-block;
	position: relative;
}

span {
	font-weight: 500;
	text-align: center;
	width: 50px;
	left: 50%;
	margin-left: -25px;
}

.Pellets {
	font-size: 9px;
	display: inline;
}

.Head {
	position: absolute;
	top: 20px;
}

.Neck {
	position: absolute;
	top: 70px;
}

.Shoulder {
	position: absolute;
	top: 62px;
	left: 158px;
	text-shadow:
		-1px -1px 0 rgb(0, 0, 0),  
		1px -1px 0 rgb(0, 0, 0),
		-1px 1px 0 rgb(0, 0, 0),
		1px 1px 0 rgb(0, 0, 0);
}

.UpperArm {
	position: absolute;
	top: 115px;
	left: 200px;
	text-shadow:
		-1px -1px 0 rgb(0, 0, 0),  
		1px -1px 0 rgb(0, 0, 0),
		-1px 1px 0 rgb(0, 0, 0),
		1px 1px 0 rgb(0, 0, 0);
}

.Chest {
	position: absolute;
	top: 130px;
}

.LowerArm {
	position: absolute;
	top: 205px;
	left: 182px;
	font-size: 15px;
}

.Stomach {
	position: absolute;
	top: 180px;
}

.LowerStomach {
	position: absolute;
	top: 212px;
}

.Hand {
	position: absolute;
	top: 258px;
	left: 198px;
	font-size: 14px;
}

.Groin {
	position: absolute;
	top: 234px;
}

.Thigh {
	position: absolute;
	top: 290px;
	left: 140px;
}

.Calf {
	position: absolute;
	top: 400px;
	left: 141px;
	font-size: 16px;
}

.Foot {
	position: absolute;
	top: 493px;
	left: 132px;
	font-size: 14px;
}

.HitsToKill_1 {
	color: red;
}

.HitsToKill_2 {
	color: orange;
}

.HitsToKill_3 {
	color: yellow;
}

.HitsToKill_4 {
	color: rgb(0, 192, 0);
}

.HitsToKill_5 {
	color: rgb(0, 119, 255);
}

.HitsToKill_6,
.HitsToKill_7,
.HitsToKill_8,
.HitsToKill_9,
.HitsToKill_10,
.HitsToKill_11,
.HitsToKill_12,
.HitsToKill_13,
.HitsToKill_14,
.HitsToKill_15,
.HitsToKill_16,
.HitsToKill_17 {
	color: rgb(130, 52, 255);
}