.Torso {
  position: relative;
  min-width: 225px;
  min-height: 512px;
  background-image: url('../../../assets/images/torso.png');
  background-repeat: no-repeat;
  color: #f2aa00;
	font-size: 15px;
	display: inline-block;
	text-align: center;
}

span {
	display: block;
	font-weight: 500;
}

.Head {
	position: relative;
	top: 10px;
}

.Neck {
	position: relative;
	top: 53px;
}

.Shoulder {
	position: relative;
	top: 30px;
	left: 50px;
	text-shadow:
		-1px -1px 0 rgb(0, 0, 0),  
		1px -1px 0 rgb(0, 0, 0),
		-1px 1px 0 rgb(0, 0, 0),
		1px 1px 0 rgb(0, 0, 0);
}

.UpperArm {
	position: relative;
	top: 65px;
	left: 86px;
	text-shadow:
		-1px -1px 0 rgb(0, 0, 0),  
		1px -1px 0 rgb(0, 0, 0),
		-1px 1px 0 rgb(0, 0, 0),
		1px 1px 0 rgb(0, 0, 0);
}

.Chest {
	position: relative;
	top: 55px;
}

.LowerArm {
	position: relative;
	top: 115px;
	left: 70px;
	font-size: 13px;
}

.Stomach {
	position: relative;
	top: 70px;
}

.LowerStomach {
	position: relative;
	top: 88px;
}

.Hand {
	position: relative;
	top: 94px;
	left: 86px;
	font-size: 12px;
}

.Groin {
	position: relative;
	top: 92px;
}

.Thigh {
	position: relative;
	top: 135px;
	left: 27px;
}

.Calf {
	position: relative;
	top: 220px;
	left: 27px;
	font-size: 14px;
}

.Foot {
	position: relative;
	top: 282px;
	left: 19px;
	font-size: 12px;
}

.HitsToKill_1 {
	color: red;
}

.HitsToKill_2 {
	color: orange;
}

.HitsToKill_3 {
	color: yellow;
}

.HitsToKill_4 {
	color: rgb(0, 192, 0);
}

.HitsToKill_5 {
	color: rgb(0, 119, 255);
}

.HitsToKill_6,
.HitsToKill_7,
.HitsToKill_8,
.HitsToKill_9,
.HitsToKill_10,
.HitsToKill_11,
.HitsToKill_12,
.HitsToKill_13,
.HitsToKill_14,
.HitsToKill_15 {
	color: rgb(130, 52, 255);
}