.Torso {
	max-width: 225px;
	min-width: 225px;
  max-height: 512px;
  min-height: 512px;
  background-image: url('../../../assets/images/torso.png');
  background-repeat: no-repeat;
  color: #f2aa00;
	font-size: 17px;
	display: inline-block;
	position: relative;
}

@media (max-height: 565px) {
	.Torso {
		transition: transform 0.3s ease;
		transform: scale(.9) translateY(-5%);
	}
}

span {
	font-weight: 500;
	position: absolute;
	text-align: center;
	width: 50px;
	left: 50%;
	margin-left: -25px;
	flex-direction: row;
}

.Pellets {
	font-size: 9px;
	width: 15px;
 	top: 0;
	left: 62px;
	text-shadow:
		-1px -1px 0 rgb(0, 0, 0),  
		1px -1px 0 rgb(0, 0, 0),
		-1px 1px 0 rgb(0, 0, 0),
		1px 1px 0 rgb(0, 0, 0);
}

.Head {
	top: 20px;
}

.Neck {
	top: 70px;
}

.Shoulder {
	top: 62px;
	left: 158px;
	text-shadow:
		-1px -1px 0 rgb(0, 0, 0),  
		1px -1px 0 rgb(0, 0, 0),
		-1px 1px 0 rgb(0, 0, 0),
		1px 1px 0 rgb(0, 0, 0);
}

.UpperArm {
	top: 115px;
	left: 200px;
	text-shadow:
		-1px -1px 0 rgb(0, 0, 0),  
		1px -1px 0 rgb(0, 0, 0),
		-1px 1px 0 rgb(0, 0, 0),
		1px 1px 0 rgb(0, 0, 0);
}

.Chest {
	top: 130px;
}

.LowerArm {
	top: 205px;
	left: 182px;
	font-size: 15px;
}

.Stomach {
	top: 180px;
}

.LowerStomach {
	top: 212px;
}

.Hand {
	top: 258px;
	left: 198px;
	font-size: 14px;
}

.Groin {
	top: 234px;
}

.Thigh {
	top: 290px;
	left: 140px;
}

.Calf {
	top: 400px;
	left: 141px;
	font-size: 16px;
}

.Foot {
	top: 493px;
	left: 132px;
	font-size: 14px;
}

.HitsToKill_1 {
	color: red;
}

.HitsToKill_2 {
	color: orange;
}

.HitsToKill_3 {
	color: yellow;
}

.HitsToKill_4 {
	color: rgb(0, 192, 0);
}

.HitsToKill_5 {
	color: rgb(0, 119, 255);
}

.HitsToKill_6,
.HitsToKill_7,
.HitsToKill_8,
.HitsToKill_9,
.HitsToKill_10,
.HitsToKill_11,
.HitsToKill_12,
.HitsToKill_13,
.HitsToKill_14,
.HitsToKill_15,
.HitsToKill_16,
.HitsToKill_17 {
	color: rgb(130, 52, 255);
}