body {
  margin: 0;
  font-family: 'Blinker', sans-serif;/*  -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	background-color: rgb(36, 36, 36);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p,
label {
	color: #f2aa00;
}

button {
	background-color: Transparent;
	border: none;
	color: #f2aa00;
	cursor: pointer;
	/*Hover effect styles*/
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
}

.MainView {
	width: 100%;
	height: 100%;
	display: flex;
	justify-Content: center;
	align-Items: center;
	flex-direction: row;
}