.Weapons {
	width: 96px;
	height: 40px;
	display: inline-block;
	border: none;
	background-size: 96px;
	cursor: pointer;
}

.AKM {
	background-image: url('../../../../assets/images/main/weapons/ARs/AKM.png');
}

.AUG_A3 {
	background-image: url('../../../../assets/images/main/weapons/ARs/AUG_A3.png');
}

.G36C {
	background-image: url('../../../../assets/images/main/weapons/ARs/G36C.png');
}

.Groza {
	background-image: url('../../../../assets/images/main/weapons/ARs/Groza.png');
}